<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<div class="container">
    <div class="login-wrapper">
        <div class="header" th:text="${session.Error}">Error</div>
        <div class="msg" th:text="${session.Errormsg}">detailed information</div>
        <div class="form-wrapper">
            <a href="SFP"><button class="btng">Back to filepage</button></a>
        </div>
    </div>
</div>
</body>
</html>