<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>File Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/filepage.css">
    <script src="js/filepage.js"></script>
</head>
<body>
<div class="container">
    <p class="msg_username">Username:</p>
    <p th:text="${session.username}" class="msg_username">未登录用户</p>
    <button class="bt_logout">登出</button>
    <button class="bt_delete">删除</button>
    <button class="bt_upload" onclick="popoutToggle()">上传</button>
    <button class="bt_download">下载</button>
    <div class="wrapper">
        <!--n+1行，3列（勾选列、序号列、文件名列（、文件大小列））-->
        <!--是否需要实现分页功能-->
        <table>
            <tr>
                <td width="30px">勾选</td>
                <td width="40px">用户命名</td>
                <td>文件名</td>
            </tr>
            <tr th:each="f,t:${session.allfiles}">
                <td>
                    <label> <!--尚未了解checkbox如何被后台读取-->
                        <input checked="" class="checkbox" type="checkbox">
                    </label>
                </td>
                <td th:text="${t.count}">NULL</td>
                <td th:text="${f.getName()}">NULL</td> <!--thymeleaf读取-->
            </tr>
        </table>
        <div id="popout_upload">
            <div class="content">
                <h2>Upload</h2>
                <form action="FileUpload" method="post" enctype="multipart/form-data">
                    <div class="inputbox">
                        <input type="file" name="uploadfile">
                    </div>
                    <div class="inputbox">
                        <input type="text" name="resetfilename" placeholder="input file name">
                    </div>
                    <button class="bt_inputbox">Upload</button>
                </form>
            </div>
            <a href="filepage.html" class="bt_close" onclick="popoutToggle()"><img src="image/close.png" width="45" height="45"></a>
        </div>
    </div>
</div>
</body>
</html>
