<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户管理页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/RootShowUsers.css">
    <script src="js/RootShowUsers.js"></script>
</head>
<body>
<div class="container">
    <p class="msg">用户管理页</p>

    <form action="/NetDisk/logout" method="get">
        <button class="bt_logout">登出</button>
    </form>

    <button class="bt_menu" onclick="window.location.href = 'RootPage.html'">菜单</button>

    <button class="bt_add" onclick="popout_RSU()">增添用户</button>

    <form action="" class="search-bar">
        <input type="search" name="search" pattern=".*\S.*" placeholder="Search" required="required" onkeyup="this.value=this.value.replace(/[(/,<>: |'\\)]/g,'')">
        <button class="search-btn" type="submit">
            <span>Search</span>
        </button>
    </form>
    <div class="wrapper">
        <table>
            <tr>
                <td width="40px">序号</td>
                <td>用户名</td>
                <td>用户邮箱</td>
            </tr>
            <tr th:each="f,t:${session.users[1]}" onmouseover="ShowBgColor()" onmouseout="ClearBgColor()" onclick="popout_RCU()">
                <td th:text="${t.count}">NULL</td>
                <td th:text="${session.users[0][(t.count)-1]}" name = "name">NULL</td> <!--thymeleaf读取name-->
                <td th:text="${session.users[1][(t.count)-1]}" name = "email">NULL</td> <!--thymeleaf读取email-->
            </tr>
        </table>
    </div>
    <div id="popout_operate">
        <div class="content">
            <h2>增添用户</h2>
            <form action="/NetDisk/RAU" onsubmit="check()" method="post">
                <div class="inputbox">
                    <input type="text"     id="username" name="username" placeholder="username" class="input-item" onkeyup="this.value=this.value.replace(/[, <>/|'\\]/g,'')" required="required" autofocus="autofocus">
                </div>
                <div class="inputbox">
                    <input type="password" id="password" name="password" placeholder="password" class="input-item" onkeyup="this.value=this.value.replace(/[, <>/|'\\]/g,'')" required="required">
                </div>
                <div class="inputbox">
                    <input type="email"    id="email"    name="email"    placeholder="email"    class="input-item" onkeyup="this.value=this.value.replace(/[, <>/|'\\]/g,'')" required="required">
                </div>
                <button class="bt_inputbox">增添用户</button>
            </form>
        </div>
        <a href="RSU" class="bt_close" onclick="popoutToggle()"><img src="image/close.png" width="45" height="45"></a>
    </div>
    <div id="popout_user">
        <div class="content">
            <h2>选择操作</h2>
            <form action="/NetDisk/RSUF" onsubmit="check()" method="post">
                <input type="hidden" id="bt_ShowFileName" name="bt_ShowFileName">
                <button class="bt_RSF" id="bt_ShowFile" name="bt_ShowFile" onclick="submitid_File()">查看文件</button>
            </form>
            <form action="/NetDisk/RDU" onsubmit="check()" method="post">
                <button class="bt_RDU" id="bt_del" name="bt_del" onclick="submitid()" value="">删除用户</button>
            </form>
        </div>
        <a href="RSU" class="bt_close" onclick="popoutToggle()"><img src="image/close.png" width="45" height="45"></a>
    </div>
</div>
</body>
</html>
